<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>个人清单</title>
	<link rel="stylesheet" href="node_modules/todomvc-common/base.css">
	<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
	<!-- CSS overrides - remove if you don't need it -->
	<link rel="stylesheet" href="css/app.css">
	<script src="../vue.js"></script>
</head>

<body>
	<section id="todoapp" class="todoapp">
		<header class="header">
						<input v-model.trim="inp_data" @keyup.enter="addTodo" class="new-todo" placeholder="亲,你要做什么,写上吧" autofocus>
		</header>

		<!-- Vue 提供了 模板标签 专门用作隐藏显示 -->
		<!-- 有内容 则标签不在,没有内容则起到父级标签的作用 -->

		<template v-if="todo_data.length">
			<section class="main">
				<!-- 为按钮绑定点击数据,传入事件对象 -->
				<input @click="toggleAll($event)" id="toggle-all" class="toggle-all" type="checkbox">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!-- 使用v-for 循环遍历数据 -->
					<!-- v-bind 获取任务状态 -->
					<li v-for="(v,k) in todo_data" v-bind:class="{completed:v.stat}">
						<div class="view">
							<!-- 选中与不选中的状态直接使用v-model双向数据绑定来操作即可 -->
							<!-- 会自定帮我们修改vue数据,横划线使用单线数据绑定,页面中也会受到影响 -->
							<!-- 不再需要JS参与操作,使用单双向数据绑定即可完成功能 -->
							<input class="toggle" type="checkbox" v-model:checked="v.stat">
							<label>{{v.title}}</label>
							<button @click="removeTodo(k)" class="destroy"></button>
						</div>
						<input class="edit" value="Create a TodoMVC template">
					</li>
				</ul>
			</section>

			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{getNu}}</strong>个未完成</span>
				<!-- Remove this if you don't implement routing -->
				
				<button @click="romveCompleted" class="clear-completed">删除</button>
			</footer>
		</template>

	</section>

	<script src="node_modules/todomvc-common/base.js"></script>

	<script src="./js/app.js"></script>
</body>

</html>